---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2>Published</h2>
{% assign published = site.publications | where: "status", "published" %}
{% for post in published reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Accepted</h2>
{% assign accepted = site.publications | where: "status", "accepted" %}
{% for post in accepted reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Preprint</h2>
{% assign preprint = site.publications | where: "status", "preprint" %}
{% for post in preprint reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Working Papers</h2>
{% assign working = site.publications | where: "status", "working" %}
{% for post in working reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Thesis</h2>
{% assign thesis = site.publications | where: "category", "thesis" %}
{% for post in thesis reversed %}
  {% include archive-single.html %}
{% endfor %}
